<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/new_sgn.css' %}"/>
  <a class="navbar-brand" href="/" style="padding:8px 8px"><img src="https://solgenomics.net/documents/img/sgn_transparent_logo.png" width="40"></a>
  <a class="navbar-brand sgn_brand_name" href="/">Sol Genomics Network</a>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Pathway Map</title>
</head>
<body>
  <h1>MetaPathwayMap</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {% for entry in form %}
           <div>
                {{ entry.label_tag }}
           </div>
           <div>
               {{entry}}
           </div>

        {% endfor %}
        <button>
            Run Analysis
        </button>
    </form>
</body>
</html>
